{
  "extends": [
    "taro/react",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
