.nav-title {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9ebf0;
  &-line {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 10px;
    height: 38px;
    background-color: @color-primary;
  }
}
